<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Jungle Order ID: <%= @order.id %></h1>
    <p>Thank you for your order. Below are your order details:</p>

    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |item| %>
           <%= render 'product', product: item[:product], quantity: item[:quantity].to_i, total: item[:total] %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <br>
            <%= humanized_money_with_symbol @order.total_cents / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>

    <p>Shop with us again soon!</p>
  </body>