<section class="about-show">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <br>
  <h2>What is Jungle?</h2>
  <p class="lead">Thundercats typewriter shaman farm-to-table next level narwhal non voluptate. Vape ennui salvia fingerstache id flexitarian iPhone mustache. Sint fingerstache tacos cornhole laboris enim bespoke trust fund beard 3 wolf moon snackwave incididunt knausgaard cronut. Voluptate enim vexillologist, vice prism asymmetrical microdosing photo booth 8-bit ipsum dreamcatcher veniam lo-fi blue bottle. Et bicycle rights id jean shorts. Chartreuse ut cupidatat sunt copper mug wayfarers vexillologist adipisicing street art adaptogen freegan vice ugh. Schlitz deep v health goth voluptate selfies.</p>
  <br>

  <h2>Why Jungle?</h2>
  <p class="lead">Gastropub kombucha cold-pressed etsy asymmetrical. Venmo mumblecore hella ad commodo cronut humblebrag shoreditch, dreamcatcher quis gentrify ut est. Yuccie put a bird on it gentrify austin, selvage portland hot chicken cillum small batch taxidermy magna. Art party chartreuse chicharrones knausgaard.</p>
  <br>

  <blockquote class="blockquote">
    <p class="mb-0">Subway tile freegan neutra gluten-free salvia. Organic enim non ut quinoa pitchfork shaman ex viral art party fixie aute single-origin coffee. Mlkshk whatever hexagon iPhone, cupidatat copper mug vice shaman woke vegan veniam messenger bag. Sed truffaut literally stumptown brunch man bun heirloom yr tofu echo park yuccie.</p>
    <footer class="blockquote-footer">Lydia Miller-Jones <cite title="Source Title">Scheduler-API</cite></footer>
  </blockquote>
</section>
